<section class="agenda container">
    {%  include 'tools/_h1.html.twig' with {'title' : 'AGENDA'} %}

    <div class="row justify-content-around">
        {%  for event in events %}
            {{ include('event/_eventCard.html.twig') }}
        {% endfor %}
    </div>
</section>
