<section class="agenda container">
    <h1>
        {% set title="AGENDA" %}
        {{ title }}
        <p class="titleStyle">
            {{ title }}
        </p>
    </h1>

    <div class="card-deck justify-content-around">
        {%  for event in events %}
            {{ include('event/_eventCard.html.twig') }}
        {% endfor %}
    </div>
</section>
