{%  set title="S'incrire à la newletter" %}
<section>
    <div class="container">

        <h2>INFORMATIONS</h2>

        <div class="row">
            {% for content in contents %}
                {{ include('content/_contentCard2.html.twig') }}
            {% endfor %}
        </div>

    </div>
</section>
