{#

 source taken from https://gist.github.com/aknosis/3932192

 time can be any string acceptable by http://www.php.net/strtotime, the
 template will output that time's month.
 If you don't want to pass in a date you can set time like this:
 {% set time = "now"|date("U") %}
 {% set time = "December 2012"|date("U") %}
 How ever you want to output items onto the calendar is a different issue,
 but I'd assume pushing everything into an array numerically indexed by that day:
 $days = array(1=>array('Something on the first'),31=>array('Halloween'));
#}



    <div class="row justify-content-center calendar-header">
        <div class="col-1">Dimanche</div>
        <div class="col-1">Lundi</div>
        <div class="col-1">Mardi</div>
        <div class="col-1">Mercredi</div>
        <div class="col-1">Jeudi</div>
        <div class="col-1">Vendredi</div>
        <div class="col-1">Samedi</div>
    </div>

    <div class="row justify-content-center">
        {% set daysInMonth = time|date('t') %}
        {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
        {% set dow = startDow %}
        {% for day in range(1,daysInMonth) %}
            {% if loop.first and startDow != 0 %}
                {% for i in 1..startDow %}
                    <div class="col-1"></div>
                {% endfor %}
            {% endif %}
            <div class="col-1 day-wrapper">
                {# calculate the class to be associated with this day div#}
                {% set class = 'day' %}
                {% if planning[day] is defined %}
                    {% set class = 'day pre-booked' %}
                    {% for event in planning[day] %}
                        {% if event.validated %}
                            {% set class = 'day booked' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div class="{{ class }}">
                    <div class="daynumber">{{ day }}</div>
                    <ul class="event-list">
                        {# calendar content #}
                        {{ include('partyroom/_partyroomCard.html.twig') }}
                    </ul>
                </div>
            </div>

            {% if loop.last and dow != 6 %}
                {% for i in 1..(6 - dow) %}
                    <div class="col-1">&nbsp;</div>
                {% endfor %}
            {% endif %}

            {% if dow == 6 %}
                {% set dow = 0 %}
                {# close and open a new row #}
                </div>
                <div class="row justify-content-center">
            {% else %}
                {% set dow = dow + 1 %}
            {% endif %}
        {% endfor %}
    </div>
