{% extends 'base.html.twig' %}

{% block title %}New Partyroom{% endblock %}

{% block body %}
    <section class="container">
        {%  include 'tools/_h1.html.twig' with {'title' : 'Demander une reservation'} %}
        <p>Pour la date du {{ partyroom.date ? partyroom.date|date('d/m/Y') : '' }}</p>

        {{ include('partyroom/_form.html.twig') }}

        <a href="{{ path('partyroom_index') }}">back to list</a>
    </section>
{% endblock %}
