{% extends 'base.html.twig' %}

{% block title %}New Partyroom{% endblock %}

{% block body %}
    <h1>Create new Partyroom</h1>

    {{ include('partyroom/_form.html.twig') }}

    <a href="{{ path('partyroom_index') }}">back to list</a>
{% endblock %}
