<div class="card content-card">
    <img class="card-img-top" src="/pictures/content/emptyContentPicture.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{content.title}}</h5>
        <h6 class="card-title">Publié le {{content.date|date("d/m/Y")}}</h6>
        <p class="card-text">{{content.text|u.truncate(125)}}...</p>

        {% include 'tools/_seeButton.html.twig' with {
            'text': 'Voir l\'article',
            'path': path('content_show', {'id': content.id})
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Modifier',
            'path': path('content_edit', {'id': content.id})
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Envoyer cet article aux abonnés par email',
            'path': path('content_notify', {'id': content.id})
        } %}
    </div>

</div>
