{% extends 'base.html.twig' %}

{% block title %}Céer un article{% endblock %}

{% block body %}
    <section class="container">
        <h1>Céer un article</h1>

        {{ include('content/_form.html.twig') }}

        <a href="{{ path('content_index') }}">back to list</a>
    </section>
{% endblock %}
