{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <section class="container">
        <h1>Mentions légales</h1>

        <p>Le site de Villereau, est édité par la mairie de Villereau, 11 rue Meslée, 45170 VILLEREAU.</p>

        <p>Elle est représentée par Bertrand Brie , en sa qualité de MAIRE.</p>

        <p>Adresse mail : mairie.villereau@orange</p>

        <p>Le site de Villereau, est hébergé par OVH , dont le siège social est situé 2, rue Kellermann, 59100 Roubaix</p>

        <ul>Tout utilisateur de Villereau.fr détient des droits d'accès, de modification et de suppression des données personnelles le concernant qu’il peut faire exercer :
            <li>par email en s’adressant à mairie.villereau@orange</li>
            <li>par courrier en s’adressant à Mairie de Villereau, 11 rue Meslée, 45170 VILLEREAU</li>
        </ul>

        <p>Reportez vous à la section « politique de confidentialité » pour plus d’information sur la manière dont nous gérons les données échangées sur ce site.</p>

    </section>
{% endblock %}
