{% extends 'base.html.twig' %}

{% block title %}Bulletin munucipal{% endblock %}

{% block body %}
    <section class="container">
        <h1>Bulletin Municipal</h1>

        {{ newspaper.id }}

        {{ newspaper.date ? newspaper.date|date('Y-m-d') : '' }}

        <a href="{{ path('newspaper_index') }}">back to list</a>

        <a href="{{ path('newspaper2_edit', {'id': newspaper.id}) }}">edit</a>

        {% include 'tools/_deleteButton.html.twig' with {
            'path': path('newspaper2_delete', {'id': newspaper.id}),
            'tokenIndex' : newspaper.id
        } %}
    </section>
{% endblock %}
