.card-deck .event-card {

  box-shadow: $shadow;

  flex-direction : row;

  overflow : hidden;

  min-height : 300px;
  min-width : 30%;
  max-width : 30%;

  .date{
    position : absolute;
    min-width : 30%;
    height : 100%;

    display : flex;
    flex-direction : column;

    font-weight : bold;

    color : $primary;
    background-color:$dark;

    .day{
      font-size : $font-size-big;
      text-align: center;
      margin : 0;
      margin-top:50%;
    }

    .hour{
      font-size : $font-size;
      text-align: center;
      margin : 0;
    }
  }

    position : relative;

    .card-img{
      object-fit: cover;
      min-height : 100%;
    }

    .card-body{
      position : absolute;
      bottom : 5%;
      left : +15%;

      box-shadow: 7px 5px 5px #3333335A;
      background-color : $light;
      border : thin solid black;
      border-radius : 3px;

      width : 80%;

      padding : 5px;

      .card-name{
        margin : 0;
        font-size : $font-size;
      }
    }



}
