@import "_vars";

.footer {
  padding: $spacing-w-small;

  height: $footer-height;

  background: $dark;
  color: $primary;

  border-radius: 0;
}

.footer li{
  list-style: none;

  font-size: $font-size-small;
  font-weight: bold;

  color: $light;

  margin-left: $spacing-w-small;
}

.third-part{
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-part{
  margin: auto;
}
