@import "_vars";

.form-container{
  padding : $spacing-w-small;
}

textarea.form-control{
  height : 100%;
}

form .btn{
  text-align: right;
}

form .input-number{
  width : 60px;
}

.table {
  border-spacing: 0px;
}

.table td, .table th{
  vertical-align: baseline;
}


