@import "_vars";

.container {
  padding:0;
}

.navbar{
  background : $dark;
  color : $light;
}


#navbarNav{
  justify-content: center;

  .dropdown-menu{
    background-color : $dark;

    a{
      color : $light;
      font-size : $font-size;
    }
  }
}

.nav-item{
  display: inline-block;
  list-style: none;

  &:hover{
    transform: scale(1.05);
  }

  .nav-link{
    color: $light;
    font-size : $navbarLinkFontSize;
  }
}


