@import "_vars";

.container {
  padding:0;
}

.navbar-container {
  position: fixed;
  top:0;

  height : $navbar-height;
  width : 100%;

  overflow:hidden;

  background-color : $background;
}

.navbar-nav .active > .nav-link {
  color: var(--primary);
}

.navbar{
  padding : 0;

  width: 100%;
  z-index: 100;
}

.nav-item{
  display: inline-block;
  overflow: hidden;
  list-style: none;

  &:hover{
    transform: scale(1.05);
  }

  .nav-link{
    color: $dark;
    font-size : $navbarLinkFontSize;
  }
}

.navbar-brand{
  color: $light;
}

.navbar-title{
  padding-left: 0.5rem;

  font-family: 'Julius', sans-serif;
  font-size: $titleFontSize;

  color:var(--primary);
}
