@import "_vars";

.container {
  padding:0;
}

#navbarNav{
  justify-content: center;
}

.navbar-nav .active > .nav-link {
  color: var(--primary);
}

.nav-item{
  display: inline-block;
  overflow: hidden;
  list-style: none;

  &:hover{
    transform: scale(1.05);
  }

  .nav-link{
    color: $dark;
    font-size : $navbarLinkFontSize;
  }
}
