$titleFontSize : 11rem;
$navbarLinkFontSize : 20px;

$footer-height : auto;

$background: #EBEBEB ;

$primary: #D72D85;//#D72D85;
$secondary: #273249;//#009688;
$thirdary : #ffc107;
$thirdary-transparent : #ffc107DD;

$dark: #273249EE;
$light: #EBEBEB;
$medium : #A0A0A0;

$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$shadow: #aaa;

$shadow: 5px 5px 5px #aaa8;

$font-size: 1.6rem;
$font-size-small : 14px;
$font-size-big : 28px;

$spacing-h-small : 2.5vh;
$spacing-h-normal : 5vh;
$spacing-h-large : 10vh;

$spacing-w-small : 2.5vw;
$spacing-w-normal : 5vw;
$spacing-w-large : 10vw;

