$titleFontSize : 110px;
$navbarLinkFontSize : 20px;
$navbar-height: 1.8 * ($titleFontSize + $navbarLinkFontSize);

$background: #FEFEFE ;

$primary: #D72D85;
$secondary: #009688;
$dark: #303030;
$light: white;

$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$shadow: #aaa;


$back-light: #FFFFFF;
$back-dark: #DDDDDD;


$font-size: 16pt;

$spacing-h-small : 2.5vh;
$spacing-h-normal : 5vh;
$spacing-h-large : 10vh;

$spacing-w-small : 2.5vw;
$spacing-w-normal : 5vw;
$spacing-w-large : 10vw;

