$titleFontSize : 110px;
$navbarLinkFontSize : 20px;
$navbar-height: 1.8 * ($titleFontSize + $navbarLinkFontSize);

$footer-height : auto;

$background: #EBEBEB ;

$primary: #D72D85;//#D72D85;
$secondary: #083050;//#009688;
$thirdary : #316879;
$dark: #303030;
$light: #EBEBEB;
$medium : #A0A0A0;

$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$shadow: #aaa;

$back-light: #FFFFFF;
$back-dark: #DDDDDD;


$font-size: 16pt;
$font-size-small : 14px;
$font-size-big : 28px;

$spacing-h-small : 2.5vh;
$spacing-h-normal : 5vh;
$spacing-h-large : 10vh;

$spacing-w-small : 2.5vw;
$spacing-w-normal : 5vw;
$spacing-w-large : 10vw;

