@import "_vars";
@import "_navbar";
@import "_footer";
@import "_flashes";
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Source Sans';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Julius';
    src: url(../fonts/JuliusSansOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Archivo';
    src: url(../fonts/archivo-narrow-regular.ttf) format('truetype');
}

* {
    margin : 0;
    padding : 0;
}

html{
    font-size : 62.5%;
}

body {
    background : $background;
}

section {
    margin : $spacing-h-large;
}

h2 {
    color: $primary;
    margin-top: $spacing-h-small;
    margin-bottom: $spacing-h-normal;
}

h5{
    margin : 0;
    font-size : $font-size;
}

hr{
    margin-top:0;
}

li{
    margin-left : $spacing-w-small;
}

.btn{
    font-size: $font-size;
}

.padding{
    padding : 15px;
}

.sticky-block{
    position:sticky;
    top:0;
    z-index : 1000;
}

.navbar-title{
    padding-left: 0.5rem;

    font-family: 'Julius', sans-serif;
    font-size: $titleFontSize;
    font-weight : bold;

    color:var(--primary);

    line-height: 100%;

    &:after{
        content :"";
        background : center / contain no-repeat  url("../pictures/corn-multiple.png");
        min-width : 200px;
        height : 100px;
        display:inline-block;
    }

    .pre-title{
        font-size : $font-size;
        font-family: 'Source Sans';
        color : $secondary;
        margin-bottom :0;
        margin-top : 30px;
        margin-left : -30px;
        padding : 0;
        line-height: 100%;
    }
}

.month-group{
    font-size: 50px;
    margin-top : $spacing-h-large;
    margin-bottom : 0;
}
