@import "~bootstrap/scss/bootstrap";
@import "_vars";
@import "_navbar";
@import "_footer";

@font-face {
    font-family: 'Source Sans';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Julius';
    src: url(../fonts/JuliusSansOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Archivo';
    src: url(../fonts/archivo-narrow-regular.ttf) format('truetype');
}

* {
    margin : 0;
    padding : 0;
}

body {
    background : $background;
}

section {
    &:first-of-type {
        margin-top: $navbar-height;
    }

}
