@import "_vars";
@import "_navbar";
@import "_footer";
@import "_flashes";
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Source Sans';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Julius';
    src: url(../fonts/JuliusSansOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Archivo';
    src: url(../fonts/archivo-narrow-regular.ttf) format('truetype');
}

* {
    margin : 0;
    padding : 0;
    border-radius : 3px;
}

html{
    font-size : 62.5%;
    min-height : 100%;
}

body {
    background : $background;
    font-family: 'Source Sans';
    font-size : $font-size;
/*
    min-height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

section {
    margin : $spacing-h-normal;

    &:first-of-type{
        margin-top:0;
        margin-left:0;
    }
}

h1 {
    max-width : 100%;
    min-width : 100%;

    $thisFontSize : $font-size-verybig;

    color: $primary;

    margin-top: 0;
    margin-bottom: $spacing-h-small;
    font-size: $thisFontSize;
    position: relative;

    font-family: 'Julius', sans-serif;

    .titleStyle{
        position : absolute;
        top : - $thisFontSize;
        padding-left : 2 * $thisFontSize;

        white-space: nowrap;

        font-family: 'Julius', sans-serif;

        font-size : 2 * $thisFontSize;
        font-weight : 900;

        color : #DDDDDD;

        z-index:-1;

        max-width:100%;
        overflow: hidden;
    }
}

h2{
    margin : 0;
    font-size : $font-size-big;
    font-family: 'Archivo';
}

hr{
    margin-top:0;
}

li{
    margin-left : $spacing-w-small;
}

.light {
    color:$light;
}

.detail{
    color: grey;
    font-style: italic;
    font-size: $font-size;
}

.button-panel{
    display:flex;
    justify-content: space-around;
    justify-self: flex-end;
}

.btn{
    font-size: $font-size;
    font-family: 'Archivo';
}

.padding{
    padding : 15px;
}

.sticky-block{
    position:sticky;
    top:0;
    z-index : 1000;
}

.navbar-title{
    padding-left: 0.5rem;

    font-family: 'Julius', sans-serif;
    font-size: $titleFontSize;
    font-weight : bold;

    color:var(--primary);

    line-height: 100%;

    .pre-title{
        font-size : $font-size;
        font-family: 'Source Sans';
        color : $secondary;
        margin-bottom :0;
        margin-top : 30px;
        margin-left : calc(10px - 3vw);//-30px;
        padding : 0;
        line-height: 100%;
    }
}

.row {
    justify-content: center;
}

.corn1 {
    padding : 10px;
    animation: 3s ease-in-out infinite wind1;
    animation-direction: alternate;
}

.corn2 {
    position : relative;
    right : 75px;
    bottom : 10px;
    transform: rotate(25deg);

    animation: 2.5s ease-in-out infinite wind2;
    animation-direction: alternate;
}

.corn3 {
    padding : 10px;
    animation: 3.5s ease-in-out infinite wind3;
    animation-direction: alternate;
}

.blason {
    padding : 10px;
    height : 100px;
    max-height : 25vh;
}

.corn1, .corn2, .corn3 {
    height : 100px;
    max-height : 15vh;
}

.custom-switch .custom-control-label::before {
    top: 0.7rem;
}
.custom-switch .custom-control-label::after {
    top: calc( 2px + 0.7rem );
}

.form-control{
    font-size: $font-size;
}

@keyframes wind3 {
    0% {
        transform: skew(-5deg) translateX(5px);
    }

    100% {
        transform: skew(0deg);
    }
}

@keyframes wind2 {
    0% {
        transform: rotate(25deg) skew(+2deg) translateX(-2px);
    }

    100% {
        transform: rotate(25deg) skew(0deg);
    }
}

@keyframes wind1 {
    0% {
        transform: skew(-4deg) translateX(4px);
    }

    100% {
        transform: skew(0deg);
    }
}

.month-group{
    font-size: 50px;
    margin-top : $spacing-h-large;
    margin-bottom : 0;
}
