@import "~bootstrap/scss/bootstrap";
@import "_vars";
@import "_navbar";
@import "_footer";
@import "_flashes";

@font-face {
    font-family: 'Source Sans';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Julius';
    src: url(../fonts/JuliusSansOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Archivo';
    src: url(../fonts/archivo-narrow-regular.ttf) format('truetype');
}

* {
    margin : 0;
    padding : 0;
}

body {
    background : $background;
}

section {

    margin : $spacing-h-large;

    &:first-of-type {
        margin-top: $navbar-height;
    }

}

h2 {
    color: $primary;
    margin-top: $spacing-h-small;
    margin-bottom: $spacing-h-normal;
}

.month-group{
    font-size: 50px;
    margin-top : $spacing-h-large;
    margin-bottom : 0;
}

hr{
    margin-top:0;
}
