.introduction{
  width:100vw;
  height:100vh;

  background-color: #FFFFFFCC;
  background: center/cover no-repeat url("../pictures/villereau.jpg");
  background-attachment: fixed;

  .text-wrapper{
    position:absolute;
    left:10%;
    top:20%;
  }
}
