@import "_vars";
@import "_eventCard";
@import "_contentCard";
@import "bootstrap-gallery";

.introduction{
  width:100vw;
  height:60vh;
  object-fit : cover;

  background-color: #FFFFFFCC;
  background: center/cover no-repeat url("../pictures/villereau.jpg");

  .text-wrapper{
    position:absolute;
    left:10%;
    top:20%;
  }
}


.container .row {
  justify-content: center;
}

.widget{
  padding : 15px;
}

.widget-picture-wrapper{
  background-color:$secondary;
  min-width : 100%;
  max-width : 100%;
  height : 0;
  padding : 0 0 100% 0;
  position: relative;
  overflow: hidden;
}

.widget-picture{
  object-fit: cover;
  width : 100%;
  height : 100%;
  position : absolute;
  background : $secondary;
  color : $light;

  &:hover{
    transform : scale(1.05);
  }

  padding : 2em;
  padding-top : 1em;
}

.weather{
  height : 95%;
}

.ccf {
  width: 100%;
  height : auto;
  color : white;
}

.svg-label{
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  font-weight: bold;
  color : $light;
}
