@import "_vars";

.introduction{
  width:100vw;
  height:100vh;

  background-color: #FFFFFFCC;
  background: center/cover no-repeat url("../pictures/villereau.jpg");

  .text-wrapper{
    position:absolute;
    left:10%;
    top:20%;
  }
}

.card-deck .content-card {
  min-width : 40%;
  margin-bottom : $spacing-h-small;

  .btn{
    width: max-content;
    align-self: center;
  }
}

.card-deck .event-card {
  z-index : -1;

  flex-direction : row;

  overflow : hidden;

  min-height : 300px;

  .date{
    min-width : 30%;

    display : flex;
    flex-direction : column;

    font-weight : bold;

    color : $primary;
    background-color: #404040;

    .day{
      font-size : $font-size-big;
      text-align: center;
      margin : 0;
      margin-top:50%;
    }

    .hour{
      font-size : $font-size;
      text-align: center;
      margin : 0;
    }
  }

  .picture{
    position : relative;


    .card-img{
      object-fit: cover;
      min-height : 100%;
    }

    .card-body{
      position : absolute;
      bottom : 5%;
      left : -15%;

      box-shadow: 7px 5px 5px #3333335A;
      background-color : white;
      border : thin solid black;
      border-radius : 3px;

      width : 105%;

      padding : 5px;
    }

    .card-name{
      margin : 0;
      font-size : $font-size;
    }
  }


}

.content-card {
  z-index : -1;
}
