@import "_vars";
@import "_eventCard";

.introduction{
  width:100vw;
  height:100vh;

  background-color: #FFFFFFCC;
  background: center/cover no-repeat url("../pictures/villereau.jpg");

  .text-wrapper{
    position:absolute;
    left:10%;
    top:20%;
  }
}

.card-deck .content-card {
  min-width : 40%;
  margin-bottom : $spacing-h-small;

  .btn{
    width: max-content;
    align-self: center;
  }
}
