@import "_vars";
@import "_eventCard";
@import "_contentCard";

.introduction{
  width:100vw;
  height:100vh;

  background-color: #FFFFFFCC;
  background: center/cover no-repeat url("../pictures/villereau.jpg");

  .text-wrapper{
    position:absolute;
    left:10%;
    top:20%;
  }
}

.card-deck .content-card {
  min-width : 40%;
  margin-bottom : $spacing-h-small;

  .btn{
    width: max-content;
    align-self: center;
  }
}

.widget-picture-wrapper{
  //$image-width-height : 35%;
  //min-width : $image-width-height;
  //max-width : $image-width-height;
  min-width : 100%;
  max-width : 100%;
  height : 0;
  padding : 0 0 100% 0;
  position: relative;
  overflow: hidden;
}

.widget-picture{
  object-fit: cover;
  width : 100%;
  height : 100%;
  position : absolute;
}
