@import "_vars";

.pre-booked {
    background-color : $thirdary;
}

.booked {
    background-color : $primary;
}

.col-1 {
    flex: 0 0 14.28%;
    max-width: 14.28%;
}

.day-wrapper {
    padding : 5px;
}

.day {
    position : relative;

    display : flex;
    flex-direction : column;
    justify-items : flex-start;

    .daynumber {
        text-align : center;
        height : 35%;
    }

    &:hover .event-list {

    }

    .event-list {
        text-align: center;

        li {
            list-style: none;
            margin : 0;
            padding : 10px;
        }

        .btn {
            width : 90%;
        }

        > .btn{
            background-color : $secondary;
            border-color : $secondary;
        }
    }

}

.calendar-header {
    text-align : center;
    height : 35%;
    color: $primary;
    margin-top : $spacing-h-small;
}

.calendar {
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-self : center;

    border : thin solid $dark;
    background-color : white;

    .calendar-bar {
        background-color : $secondary;
        border-radius : 0;

        .next, .previous {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width : 70px;
        }

        .titles {
            text-align: center;
            color : $light;

            .current-month {
                font-size : 2 * $font-size-verybig;
            }

            .current-year {
                font-size : $font-size-big;
            }
        }
    }
}





