@import "_vars";

.report-list{
}

.report-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: $shadow;
  background-color : $secondary;
  color : $light;
  border-radius : 3px;

  padding : 5px;
  margin : $spacing-w-small;

  .subjects{
    display: flex;
    flex-direction: column;
  }

  h2{
    font-family: 'Julius', sans-serif;
    text-align : center;
    font-weight : bold;
  }

  .summary-title{
    font-family: 'Archivo';
    margin-top : $spacing-h-normal;
    text-align : center;
  }

  ul li, .no-subject{
    text-align : center;
    margin : 0;
  }


}
