@import "_vars";

.report-list{
}

.report-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  box-shadow: 7px 5px 5px #3333335A;
  background-color : white;
  border : thin solid black;
  border-radius : 3px;

  padding : 5px;
  margin : $spacing-w-small;

  .subjects{
    display: flex;
    flex-direction: column;
  }

  h2{
    font-family: 'Julius', sans-serif;
    text-align : center;
    font-weight : bold;
    text-shadow : $shadow;
  }

  .summary-title{
    font-family: 'Archivo';
    margin-top : $spacing-h-normal;
    text-align : center;
  }

  ul li{
    text-align : center;
    margin : 0;
    color : $secondary;
    text-shadow : $shadow;
  }

  .button-panel{
    display:flex;
    justify-content: space-around;
    justify-self: flex-end;
  }
}
