@import "_vars";

.detail{
  border : thin solid black;
  margin-top : $spacing-h-small;
  margin-bottom : $spacing-h-small;
  text-align: center;
  padding-top : $spacing-h-small;
  padding-bottom : $spacing-h-small;
  font-weight: bold;
}

.date{
  background-color : $primary;

  .day{
    font-size : $font-size-big;
    text-align: center;
    margin : 0;
    margin-top:0;
  }

  .hour{
    font-size : $font-size;
    text-align: center;
    margin : 0;
  }
}

.place{
  background-color : $secondary;
}

.text{
  border : thin solid black;
  margin-top : $spacing-h-small;
  margin-bottom : $spacing-h-small;
  padding-top : $spacing-h-small;
  padding-bottom : $spacing-h-small;
}

.btn{
  width : 100%;
  margin-bottom : $spacing-h-small;
}
