@import "_vars";

.info{
  font-size : $font-size-big;
}

.place{
  color: $secondary;
}

.date{
  color: $secondary;
}

.hour{
  color: $primary;
}

.event{
  padding-top : $spacing-h-normal;
  padding-bottom : $spacing-h-normal;

  .event-data{
    padding-top : $spacing-h-normal;
    padding-bottom : $spacing-h-normal;
  }
}
