@import "_vars";

.row {
  justify-content: space-between;
}

.teammate{
  margin-top : $spacing-w-small;
  margin-bottom : $spacing-w-small;
}

.teammate-picture{
  $width:150px;
  //width:$width;
  height:$width;
  width : 100%;

  max-width:70vw;
  max-height:70vw;

  //border-radius:50%;

  margin:auto;

  display:flex;
  align-items: center;
  justify-content: center;

  object-fit: cover;

  vertical-align: bottom;
}

.teammate-picture-wrapper{
  display:flex;
  align-items: baseline;
  justify-content: center;
  padding-bottom:$spacing-h-small;
}

.modal-body .teammate-picture-wrapper{
  width : 30%;
  padding-bottom:0;
}

.job{
  font-size:20px;
  font-style: italic;
  color:$primary;
}

.person-name{
  font-size:24px;
  margin-bottom:0;
}
