@import "_vars";

.row {
  justify-content: space-between;
}

.card-panel{
  background-color : $secondary;
  margin : $spacing-w-normal;
  padding : $spacing-w-small;
}

.vcard{
  margin-top : $spacing-w-normal;
  margin-bottom : $spacing-w-normal;
  background : $background;
}

.vcard-picture{
  $width: 175px;
  width: $width;
  height: $width;

  max-width: 70vw;
  max-height: 70vw;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: cover;

  vertical-align: bottom;
}

.vcard-picture-wrapper{
  display: flex;
}

.card-text {
  padding-left: 0;
  display: flex;
  flex-direction: column;

  .role{
    font-size: 20px;
    font-style: italic;
    color: $thirdary;
  }

  .name{
    font-size: 24px;
    margin-bottom: 0;
  }

  .phone{
    color: $thirdary;
  }

  .email {
    white-space: nowrap;
    font-size: $font-size-small;
  }
}


$boxSpacing: 23px;
$gridSize: 200px;

* {
  box-sizing: border-box;
}

.card-container {

  background-color: $secondary;
  margin-top: $spacing-w-normal;
  margin-bottom: $spacing-w-normal;
  padding: $spacing-w-small;
}

.card-top, .card-right, .card-bottom, .card-left {
  display: flex;
  flex-wrap: nowrap;
  height: 90%;
  width: 100%;
  box-shadow: 0px 3px 9px 1px rgba(0, 10, 20, 0.2);
  background-color: $background;
}

.card-top {
  flex-direction: column;
  grid-column: auto / span 1;
  grid-row: auto / span 2;
}

.card-right {
  flex-direction: row-reverse;
  grid-column: auto / span 2;
  grid-row: auto / span 1;
}

.card-bottom {
  flex-direction: column-reverse;
  grid-column: auto / span 1;
  grid-row: auto / span 2;
}

.card-left {
  flex-direction: row;
  grid-column: auto / span 2;
  grid-row: auto / span 1;
}

.card-image {
  display: flex;
  position: relative;

  .btn{
    position : absolute;
    right : 5px;
    top : 5px;
  }
}

.card-top .card-image, .card-bottom .card-image {
  height: 50%;
  width: 100%;
}

.card-left .card-image, .card-right .card-image {
  height: 100%;
  width: 50%;
}

.card-image img {
  width: 100%;
  object-fit: cover;
}

.card-text {
  align-self: center;
  padding: $boxSpacing;
}

.card-top .card-text {
  height: auto;
  width: auto;
}

.card-right .card-text {
  height: auto;
  width: 50%;
}

.card-bottom .card-text {
  height: auto;
  width: auto;
}

.card-left .card-text {
  height: auto;
  width: 50%;
}



@media (max-width: 500px) {
  .card-top {
    flex-direction: row;
    grid-column: auto / span 2;
    grid-row: auto / span 1;
  }

  .card-bottom {
    flex-direction: row-reverse;
    grid-column: auto / span 2;
    grid-row: auto / span 1;
  }

  .card-top .card-image, .card-bottom .card-image {
    height: 100%;
    width: 50%;
  }

  .card-top .card-text {
    height: auto;
    width: 50%;
    padding-right: $boxSpacing*1.6;
  }

  .card-bottom .card-text {
    height: auto;
    width: 50%;
    padding-left: $boxSpacing*1.6;
  }

}

@media (max-width: 400px) {
  .card-image {
    width: 38% !important;
  }

  .card-text {
    width: 62% !important;
  }
}

// Update width of container
@media only screen and (min-width : 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media only screen and (min-width : 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media only screen and (min-width : 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media only screen and (min-width : 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

@media only screen and (min-width : 1600px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1500px;
  }
}
