<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <div class="container navbar-title">
            <p class="pre-title">Bienvenue à </p>
            VILLEREAU
            <img class="corn1" src="/pictures/corn.svg" alt="Image de blé oscillant au vent">
            <img class="corn2" src="/pictures/corn.svg" alt="Image de blé oscillant au vent">
            <img class="corn3" src="/pictures/corn.svg" alt="Image de blé oscillant au vent">
        </div>



        <div class="sticky-block">
            {% include '_navbar.html.twig' %}
            {% include '_flashes.html.twig' %}
        </div>

        {% block body %}{% endblock %}

        {% include '_footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
