<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta  name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Bienvenue à Villereau !{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <div class="container navbar-title">
            <p class="pre-title">Bienvenue à </p>
            <img class="blason d-none d-sm-inline" src="/blason.svg" alt="Blason rouge et or de villereau">
            VILLEREAU
            <img class="corn1 d-none d-sm-inline" src="/corn.svg" alt="Image de blé oscillant au vent">
            <img class="corn2 d-none d-md-inline" src="/corn.svg" alt="Image de blé oscillant au vent">
            <img class="corn3 d-none d-md-inline" src="/corn.svg" alt="Image de blé oscillant au vent">
        </div>



        <div class="sticky-block">
            {% include '_navbar.html.twig' %}
            {% include '_flashes.html.twig' %}
        </div>

        {% block body %}{% endblock %}

        {% include '_footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
