{% extends 'base.html.twig' %}

{% block title %}Edit Vcard{% endblock %}

{% block body %}
    <section class="container">
        {%  include 'tools/_h1.html.twig' with {'title' : 'MODIFIER LA CARTE'} %}

        {{ include('vcard/_form.html.twig', {'button_label': 'Update'}) }}

        {% include'tools/_deleteButton.html.twig' with {
            'path': path('vcard_delete', {'id': vcard.id}),
            'tokenIndex' : vcard.id
        } %}
    </section>
{% endblock %}
