{% extends 'base.html.twig' %}

{% block title %}New Vcard{% endblock %}

{% block body %}
    <h1>Create new Vcard</h1>

    {{ include('vcard/_form.html.twig') }}

    <a href="{{ path('vcard_index') }}">back to list</a>
{% endblock %}
