{% extends 'base.html.twig' %}

{% block title %}New Vcard{% endblock %}

{% block body %}
    <section class="container">
        {%  include 'tools/_h1.html.twig' with {'title' : 'AJOUTER UNE CARTE'} %}

        {{ include('vcard/_form.html.twig') }}
    </section>
{% endblock %}
