{% extends 'email.html.twig' %}

{% block message %}

    <p>Le message suivant vient de vous être envoyé :</p>
    <p>De la part de {{ name }} ({{ from }})</p>

    <p>Son message : {{ message }}</p>

{% endblock %}
