{% extends 'email.html.twig' %}

{% block title %}Un nouvel article est disponible{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block main %}

    <h1 style="
        font-family: 'Julius Sans One';
        font-family:'Roboto';
        color:#A10115;
    ">Bonjour</h1>

    <h2 style="
        color:#D72C16;
    ">Votre inscription à la nesletter de Villereau a bien été prise en compte. Grâce à elle, vous serez informé de la publication de nouvelles informations, évenements et compte rendu de conseil municipaux.</h2>

{% endblock %}
