{% extends 'email.html.twig' %}

{% block title %}Un nouvel article est disponible{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block main %}
    <p style="
        color:#D72C16;
    ">Votre inscription à la nesletter de Villereau a bien été prise en compte. Grâce à elle, vous serez
        informé de la publication de nouvelles informations, évenements et compte rendu de conseil municipaux.</p>
{% endblock %}
