{% extends 'base.html.twig' %}

{% block title %}Modification d'un équipier{% endblock %}

{% block body %}
    <section class="container">
        {%  include 'tools/_h1.html.twig' with {'title' : 'MODIFIER L\'EQUIPIER'} %}

        {{ include('teammate/_form.html.twig', {'button_label': 'Update'}) }}

        {% include'tools/_deleteButton.html.twig' with {
            'path': path('teammate_delete', {'id': teammate.id}),
            'tokenIndex' : teammate.id
        } %}
    </section>
{% endblock %}
