{% extends 'base.html.twig' %}

{% block title %}Modification d'un équipier{% endblock %}

{% block body %}
    <section class="container">
        <h1>Modification d'un équipier</h1>

        {{ include('teammate/_form.html.twig', {'button_label': 'Update'}) }}

        {% include'tools/_deleteButton.html.twig' with {
            'path': path('teammate_delete', {'id': teammate.id}),
            'tokenIndex' : teammate.id
        } %}
    </section>
{% endblock %}
